name: WidgetStudioDemo
build_settings:
  upload_assets:
    github: false
    aws: true
  dependencies:
    - name: WidgetStudio
      s3: "s3://theia-artifacts/builds/widget-studio-plugin"
envs:
  local:
    matrix:
      - ue_version: 4.26
      - ue_version: 4.27
      - ue_version: "5.0"
  development:
    deploy: "s3://theia-artifacts/builds/widget-studio-demo"
    matrix:
      # Windows
      - ue_version: 4.26
        host_platform: "windows-10"
        target_platform: "Win64"
        experimental: false
        test: false
      - ue_version: 4.27
        host_platform: "windows-10"
        target_platform: "Win64"
        experimental: false
        test: false
      - ue_version: "5.0"
        host_platform: "windows-10"
        target_platform: "Win64"
        experimental: true
        test: false
      # Android
      - ue_version: 4.26
        host_platform: "windows-10"
        target_platform: Android
        experimental: false
        test: false
      - ue_version: 4.27
        host_platform: "windows-10"
        target_platform: Android
        experimental: false
        test: false
      - ue_version: "5.0"
        host_platform: "windows-10"
        target_platform: Android
        experimental: true
        test: false
      # macOS
      - ue_version: 4.26
        host_platform: macos-monterey
        target_platform: Mac
        experimental: false
        test: false
      - ue_version: 4.27
        host_platform: macos-monterey
        target_platform: Mac
        experimental: false
        test: false
      - ue_version: "5.0"
        host_platform: macos-monterey
        target_platform: Mac
        experimental: true
        test: false
      # iOS
      - ue_version: 4.26
        host_platform: macos-monterey
        target_platform: IOS
        experimental: false
        test: false
      - ue_version: 4.27
        host_platform: macos-monterey
        target_platform: IOS
        experimental: false
        test: false
      - ue_version: "5.0"
        host_platform: macos-monterey
        target_platform: IOS
        experimental: true
        test: false
  production:
    deploy: "s3://theia-artifacts/releases/widget-studio-demo"
    matrix:
      # Windows
      - ue_version: 4.26
        host_platform: "windows-10"
        target_platform: "Win64"
        experimental: false
        test: false
      - ue_version: 4.27
        host_platform: "windows-10"
        target_platform: "Win64"
        experimental: false
        test: false
      - ue_version: "5.0"
        host_platform: "windows-10"
        target_platform: "Win64"
        experimental: true
        test: false
      # Android
      - ue_version: 4.26
        host_platform: "windows-10"
        target_platform: Android
        experimental: false
        test: false
      - ue_version: 4.27
        host_platform: "windows-10"
        target_platform: Android
        experimental: false
        test: false
      - ue_version: "5.0"
        host_platform: "windows-10"
        target_platform: Android
        experimental: true
        test: false
      # macOS
      - ue_version: 4.26
        host_platform: macos-monterey
        target_platform: Mac
        experimental: false
        test: false
      - ue_version: 4.27
        host_platform: macos-monterey
        target_platform: Mac
        experimental: false
        test: false
      - ue_version: "5.0"
        host_platform: macos-monterey
        target_platform: Mac
        experimental: true
        test: false
      # iOS
      - ue_version: 4.26
        host_platform: macos-monterey
        target_platform: IOS
        experimental: false
        test: false
      - ue_version: 4.27
        host_platform: macos-monterey
        target_platform: IOS
        experimental: false
        test: false
      - ue_version: "5.0"
        host_platform: macos-monterey
        target_platform: IOS
        experimental: true
        test: false
