name: Build (CI/CD)

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build.yml
      - demo/**
  pull_request:
    types: [edited, assigned, opened, synchronize, reopened]
    paths:
      - .github/workflows/build.yml
      - demo/**
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build'     
        required: true
        default: 'main'

defaults:
  run:
    shell: bash

env:
  PACKAGE_NAME:     ${{ github.event.repository.name }}
  S3_BUCKET_NAME:   theia-builds
  S3_BUILD_CACHE:   theia-builds/tmp
  BRANCH:           ${{ github.event.inputs.branch || github.event.client_payload.branch || github.ref }}

jobs:
  meta:
    name:       Set Meta
    runs-on:    ubuntu-latest
    outputs:
      uuid:     ${{ env.UUID }}
      version:  ${{ steps.versionCheck.outputs.version }}
    steps:
      - run: echo "UUID=$(uuidgen)" >> $GITHUB_ENV
      - uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.REPO_SCOPED_TOKEN }}
          ref: ${{ env.BRANCH }}

      - name: Check version
        id: versionCheck
        uses: actions/github-script@v3
        with:
          github-token: ${{ github.token }}
          script: |
            var version = ""
            if ("${{ env.TYPE }}" == "release"){
              const fs = require('fs');
              version = fs.readFileSync('${{ github.workspace }}/VERSION', 'utf8').replace(/\n$/g, '').replace(' ', '')
            } else {
              version = "IS_BUILD_SO_VERSION_NOT_USED"
            }
            core.setOutput('version', version)

  coalesce-plugins:
    name:         Coalesce ${{ matrix.plugin.name }} for UE_${{matrix.engine_version}} on ${{ matrix.os }}
    runs-on:      ubuntu-latest
    needs:        [meta]
    strategy:
      fail-fast:  true
      matrix:
        os:             [windows-10]
        engine_version: [4.26]
        plugin:
          - name:             widget-studio-plugin
            s3_build_path:    s3://optim-builds/widget-studio-plugin
            s3_release_path:  s3://optim-releases/widget-studio-plugin
            project:          false
    steps:
      - uses: actions/checkout@v2
        with: 
          submodules: true
          token: ${{ secrets.REPO_SCOPED_TOKEN }}

      - name: Set Environment
        env:
          PLATFORM_MATRIX:  ${{ matrix.os }}
          ENGINE_VERSION:   ${{ matrix.engine_version }}
          PACKAGE_NAME:     ${{ matrix.plugin.name }}
          REF:              ${{ env.BRANCH }}
        run: |
          source .cicd/platform-meta.sh
          source .cicd/set-env-plugin.sh
          CURRENT_BRANCH_CLEAN="develop"
          echo "CURRENT_BRANCH_CLEAN=$CURRENT_BRANCH_CLEAN" >> $GITHUB_ENV
          source .cicd/paths-plugins.sh
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Copy Artifact to Primitive S3 Artifacts Manager Build Folder
        env:
          S3_BUILD_TMP: s3://${{ env.S3_BUILD_CACHE }}/${{ needs.meta.outputs.uuid }}/UE_${{ matrix.engine_version }}
        run: |
          [[ '${{ matrix.plugin.project }}' == 'true' ]] && PROJECT_ENGINE='PROJECT' || PROJECT_ENGINE='ENGINE'  
          aws configure set default.s3.use_accelerate_endpoint true
          aws configure set default.s3.multipart_threshold 300MB
          if [[ "${{ env.TYPE }}" == "release" ]]; then
            S3_PATH="${{ matrix.plugin.s3_release_path }}/${{ env.FILENAME_RELEASE_LATEST }}"
            NAME="${{ env.FILENAME_RELEASE_LATEST }}"
          else
            S3_PATH="${{ matrix.plugin.s3_build_path }}/${{ env.FILENAME_BUILD_LATEST }}"
            NAME="${{ env.FILENAME_BUILD_LATEST }}"
          fi
          aws s3 cp $S3_PATH ${{ env.S3_BUILD_TMP }}/$PROJECT_ENGINE/$NAME
  build:
    name:           Build ${{ github.event.repository.name }} for UE_${{ matrix.engine_version }} on ${{ matrix.os }}
    runs-on:        ${{ matrix.os }}
    needs:          [meta, coalesce-plugins]
    strategy:
      fail-fast:    true
      matrix:
        os:             [windows-10]
        engine_version: [4.26]
    steps:
      - uses: actions/checkout@v2
        with: 
          lfs:        true
          submodules: true
          token:      ${{ secrets.REPO_SCOPED_TOKEN }}
          ref:        ${{ env.BRANCH }}

      - name: Set Environment
        env:
          PLATFORM_MATRIX:  ${{ matrix.os }}
          ENGINE_VERSION:   ${{ matrix.engine_version }}
          REF:              ${{ env.BRANCH }}
        run: |
          source .cicd/platform-meta.sh
          source .cicd/set-env-plugin.sh
          source .cicd/paths-plugins.sh
          PLUGIN_PATH="plugins/UE_${{ matrix.engine_version }}"
          ENGINE_PLUGIN_PATH="$UE_ROOT_PREFIX/UE_${{ matrix.engine_version }}/Engine/Plugins/WidgetDemo"
          echo "PLUGIN_PATH=$PLUGIN_PATH" >> $GITHUB_ENV
          echo "ENGINE_PLUGIN_PATH=$ENGINE_PLUGIN_PATH" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Get Plugin Build Artifacts From Primitive S3 Artifacts Manager
        env:
          S3_BUILD_TMP: s3://${{ env.S3_BUILD_CACHE }}/${{ needs.meta.outputs.uuid }}/UE_${{ matrix.engine_version }}
        run: |
          mkdir -p ${{ env.PLUGIN_PATH }}
          aws configure set default.s3.use_accelerate_endpoint true
          aws configure set default.s3.multipart_threshold 300MB
          aws s3 cp ${{ env.S3_BUILD_TMP }} ./${{ env.PLUGIN_PATH }} --recursive 

      - name: Extract Project Plugin Archives
        run: |
          cd ${{ env.PLUGIN_PATH }}
          if [ -d "$(pwd)/PROJECT" ]; then  
            for archive in $(pwd)/PROJECT/*.tar.gz; do
              tar -xf $archive
              # exit code 141 from tar -tzf pipe into head
              # EXTRACTED_DIR=`tar -tzf $archive | head -1 | cut -f2 -d"/"`
              # UPLUGIN_PATH=$(ls ././$EXTRACTED_DIR/*.uplugin | head -1)
              # UPLUGIN_NAME="${UPLUGIN_PATH##*/}"
              # mv "././$EXTRACTED_DIR" "${UPLUGIN_NAME%.*}"
            done 
            # Remove leftover archives
            # rm *.tar.gz
            rm -rf PROJECT
          fi

      - name: Extract Engine Plugin Archives
        run: |
          if [[ -d "${{ env.PLUGIN_PATH }}/ENGINE" ]]; then  
            OLD_DIR=$(pwd)
            [[ ! -d "${{ env.ENGINE_PLUGIN_PATH }}" ]] && mkdir -p "${{ env.ENGINE_PLUGIN_PATH }}"
            cd "${{ env.ENGINE_PLUGIN_PATH }}"
            find "$OLD_DIR/${{ env.PLUGIN_PATH }}/ENGINE/" -name *.tar.gz | xargs -n1 tar -xzf
            cd $OLD_DIR
            rm -rf "${{ env.PLUGIN_PATH }}/ENGINE"
          fi

      - name: Build
        run: |
          PATH_BUILD="build/UE_${{ matrix.engine_version }}"
          echo "PATH_BUILD=$PATH_BUILD" >> $GITHUB_ENV
          if [ ! -d "build" ]; then
            mkdir "build"
          fi
          if [ -d "$PATH_BUILD" ]; then
            rm -fr "$PATH_BUILD"
          fi
          mkdir "$PATH_BUILD"
          # Copy source to build Directory
          cp -R demo/. $PATH_BUILD
          # Move plugins to build source
          [[ ! -d "plugins/UE_${{ matrix.engine_version }}" ]] && mv plugins/UE_${{ matrix.engine_version }}/* "$PATH_BUILD/Plugins/"
          cd "$PATH_BUILD" || exit
          ue4 setroot "${{ env.UE_ROOT_PREFIX }}/UE_${{ matrix.engine_version }}"
          # ue4 build Development Editor -platform="${{ env.PLATFORM_UE }}"
          ue4 package
      
      - name: Remove Engine Plugins
        if: always()
        run: |
          if [[ -d "${{ env.ENGINE_PLUGIN_PATH }}" ]]; then
            rm -rf "${{ env.ENGINE_PLUGIN_PATH }}"
          fi

      - name: Copy Build Artifact
        run: |
          mkdir ${{ env.SIGNATURE_BUILD }}
          cp -R $PATH_BUILD/dist/* ${{ env.SIGNATURE_BUILD }}/

      - name: Compress action step
        uses: master-atul/tar-action@v1.0.2
        id: compress
        with:
          command: c
          files: |
            ./${{ env.SIGNATURE_BUILD }}/
          outPath: ./${{ env.FILENAME_BUILD }}

      - name: Backup Build Artifacts to Primitive S3 Artifacts Manager
        env:
          DIR: ${{ github.event.repository.name }}
          FILE_LATEST: ${{ env.FILENAME_BUILD_LATEST }}
          FILE_PRECISE: ${{ env.FILENAME_BUILD_PRECISE }}
        run: ./.cicd/s3-backup-artifacts.sh
